h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  color: green;
  font-size: 1.05em;
}

.bg-image {
  background-image: url('matrix.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
